[Unit]
Description=Oxidane Celery Worker
After=network.target redis.service

[Service]
User=oxidane
Group=oxidane
WorkingDirectory=/var/www/oxidane/backend
Environment="PATH=/var/www/oxidane/venv/bin"
ExecStart=/var/www/oxidane/venv/bin/celery -A oxidane worker --loglevel=info --concurrency=1 --max-tasks-per-child=20 --pool=solo
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
